/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

body{
    background: linear-gradient(116.82deg, #457081 0%, #EDCCBC 100%);
}

.poppins{
    font-family: 'Poppins';
}

.hilanginscroll::-webkit-scrollbar{
    width: 0;
    display: none;
    visibility: hidden;
    background-color: transparent;
}

.hilanginscroll::-webkit-scrollbar-thumb{
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
    background-color: transparent;
}
