/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

[x-cloak] { display: none !important; }

body{
    background: linear-gradient(116.82deg, #457081 0%, #EDCCBC 100%);
}

.poppins{
    font-family: 'Poppins';
}

.hilanginscroll::-webkit-scrollbar{
    width: 0;
    display: none;
    visibility: hidden;
    background-color: transparent;
}

.hilanginscroll::-webkit-scrollbar-thumb{
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
    background-color: transparent;
}

.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
}

.tooltip .bottom {
    top:40px;
    left:50%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:#FFFFFF;
    background-color:#111111;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    border:1px solid #111111;box-shadow:0 1px 8px #EEEEEE;
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .bottom {
    visibility:visible; opacity:1;
}
.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-10px;
    width:20px;
    height:10px;
    overflow:hidden;
}
.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#111111;
    border:1px solid #111111;box-shadow:0 1px 8px #EEEEEE;
}

.tooltip .bottom2 {
    top:40px;
    left:50%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:#FFFFFF;
    background-color:#111111;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    border:1px solid #111111;box-shadow:0 1px 8px #EEEEEE;
    visibility:visible; opacity:1; transition:opacity 0.8s;
}
.tooltip .bottom2:focus {
    visibility:hidden; opacity:1;
}
.tooltip:hover .bottom2 {
    visibility:hidden; opacity:1;
}
.tooltip .bottom2 i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-10px;
    width:20px;
    height:10px;
    overflow:hidden;
}
.tooltip .bottom2 i::after {
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#111111;
    border:1px solid #111111;box-shadow:0 1px 8px #EEEEEE;
}

.tooltip .top {
    min-width:200px;
    max-width:400px;
    top:60%;
    left:35%;
    transform:translate(-30%,-100%);
    padding:10px 20px;
    color:#ffffff;
    background-color:#009cdc;
    font-weight:normal;
    font-size:14px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip:hover .top {
    display:block;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:30%;
    margin-left:-15px;
    width:30px;
    height:15px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:15px;
    height:15px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#009cdc;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

[data-tooltip] {
  position: relative;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 500;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}
[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 8px;
  border-radius: 7px;
  background: #FFFFFF;
  border-width: 4px;
  border-color: #e0f2fe;
  box-shadow: 0 6px 9px 0 rgb(0 0 0 / 0.05);
  color: #18181b;
  z-index: 99;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-radius: 0.125rem;
  border-top-color: #e0f2fe;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before, [tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -4px);
          transform: translate(-50%, -4px);
}
[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-radius: 0.125rem;
  border-bottom-color: #e0f2fe;
}
[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 5px);

}
[data-tooltip][data-flow="bottom"]::before, [data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -1px);
          transform: translate(-50%, -1px);
}
[data-tooltip][data-flow="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #e0f2fe;
  z-index: 1000;
  border-radius: 0.125rem;
  right: calc(0em - 5px);
  -webkit-transform: translate(1px, -50%);
          transform: translate(1px, -50%);
}
[data-tooltip][data-flow="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translate(1px, -50%);
          transform: translate(1px, -50%);
}
[data-tooltip=""]::after, [data-tooltip=""]::before {
  display: none !important;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    background: none;
    width: 20px;
    height: 20px;
    border-width: thin;
}
