body{
    background: linear-gradient(116.82deg, #457081 0%, #EDCCBC 100%);
}

.poppins{
    font-family: 'Poppins';
}

.hilanginscroll::-webkit-scrollbar{
    width: 0;
    display: none;
    visibility: hidden;
    background-color: transparent;
}

.hilanginscroll::-webkit-scrollbar-thumb{
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
    background-color: transparent;
}